body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 70px;
    background-color: rgba(255,236,215,.55);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-div {
    background-color: #af3a11;
}

.navbar-inverse {
    background-color: #af3a11;
}

.navbar-inverse a {
    color: #000000;
}

.navbar-collapse {
    font-size: 20px;
    color: antiquewhite !important;
}

.nav-li a {
    color: antiquewhite !important;
}

.nav-li a:hover {
    color: white !important;
    font-size: 22px;
}

.navbar-brand {
    font-size: 26px;
    color: antiquewhite !important;
}

.navbar-brand:hover {
    color: white !important;
    font-size: 28px;
}

#new-item-header {
    margin: 50px 50px;
}

.item-div {
    border: 4px solid #FFE3AE;
    border-radius: 5px;
}

a {
    color: #af3a11;
}

th {
    font-family: Times, "Times New Roman", Georgia, serif;
    font-size: 1.3em;
}

.home-index-greeting {
    font-family: Times, "Times New Roman", Georgia, serif;
    padding: 30px;
}

tr {
    font-family: Garamond, Georgia, serif;
    font-size: 1.1em;
}

tr:nth-child(even) {
    background-color: #ffe3ae;
}

.navbar-inverse .navbar-nav > li > a {
    color: #F8E6D2;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: white !important;
    font-size: 22px;
}




