body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgba(255,236,215,.55);
    color: blue;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-div {
    background-color: #af3a11;
}

.navbar-inverse {
    background-color: #af3a11;
}

.navbar-inverse a {
    color: #000000;
}

.navbar-collapse {
    font-size: 18px;
    color: #000000;
}

.navbar-brand {
    font-size: 24px;
    color: blue;
}


