@model IEnumerable<string>

@{
    Layout = "~/Views/Shared/_StockLayout.cshtml";
}



<h2>@ViewBag.Title</h2>

<h4>Here is a list of items!</h4>


@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-4">
            <div>
                @item
            </div>
        </div>
        <div class="col-md-4">
            <div>
                @item
            </div>
        </div>
        <div class="col-md-4">
            <div>
                @item
            </div>
        </div>
    </div>
}

