<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="nav-div container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Takin'Stock", "Index", "Items", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="nav-li">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="nav-li">@Html.ActionLink("Add New Item", "Create", "Items")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
